<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Typing Practice</title>
    {% load static %}
    <!-- web icon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon/favicon.ico' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <!-- set theme color for those browsers that support it -->
    <meta name="theme-color" content="#8360CF">
</head>
<body>
<div id="app" class="d-flex flex-column h-100"></div>
<script src="{% static 'frontend/main.js' %}"></script>
</body>
</html>